h1 {
    background-color: rgb(164, 164, 192);
    color: rgb(4, 51, 15);
    text-align:center;
    font-size: 40px;
    padding: 50px;
    border-radius: 50px;
    
}
h2{
    background-color: rgb(164, 164, 192);
    text-align: center;
    padding: 40px;
}
h3{
    background-color: antiquewhite;
    text-align: center;
}
.one{
    background-color: rgb(238, 183, 112);
    text-align: center;
}
.two{
    background-color: rgb(227, 252, 85);
    text-align: center;
}

.three{
    background-color: rgb(99, 129, 16);
    text-align: center;
}

.four{
    background-color: rgb(142, 204, 245);
    text-align: center;
}
.five{
    background-color: rgb(248, 155, 206);
    text-align: center;
}
.six{
    background-color: rgb(148, 230, 196);
    text-align: center;
}
h4{
    background-color: antiquewhite;
    color: brown;
    text-align: center;
}